.share-icon {
  cursor: pointer;
  vertical-align: middle;
  padding: 0.5rem;
    
  svg {
    height: 1.5rem;
    fill: $color-icon-light;
  }
  
  &:hover {
    svg {
      fill: $color-icon-light-hover;
    }
  }
}

.share-button {
  display: none;
}

.share-button:checked ~ #share-buttons {
  display: flex;
}

#share-buttons {
  align-items: center;
  display: none;
  position: absolute;
  padding: 0.3rem;
  background-color: $color-popup-light-background;
  border: 0.1rem solid $color-popup-light-border;
  border-radius: $dimen-border-radius-small;
  z-index: 2;
  
  & > span {
    padding: 0.5rem;
    height: 1rem;
    width: 1rem;
    display: flex;
    align-items: center;
    
    & > svg {
      height: 1rem;
      fill: $color-icon-light;
    }
  }
  
  & > span:hover {
    cursor: pointer;
  }
  
  & > span.facebook:hover > svg {fill: #3B5998;}
  & > span.twitter:hover > svg {fill: #55ACEE;}
  & > span.linkedin:hover > svg {fill: #0077b5;}
  & > span.mail:hover > svg {fill: #7D7D7D;}
  & > span.instagram:hover > svg {fill: #C73B92;}
}

/**************************************
    $MEDIA QUERIES - DARK
/**************************************/
@media (prefers-color-scheme: dark) {
  #share-buttons > span:hover {
    filter: invert(1);
  }
}