.post-meta {
  display: inline-flex;
  align-items: center;
}

.bottom-rule {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Post navigation links */
.post-nav {
  display: flex;
  font-style: italic;
  max-width: 55%;
}

@media(max-width: 850px) {
  .post-nav {
    max-width: 100%;
  }
}

.post-nav span {
  display: block;
  font-size: 0.6em;
  color: #6f6f68;
  font-style: normal;
  text-transform: uppercase;
}

.post-nav a {
  padding: 0.5em;
  width: 50%;
  position: relative;
  color: inherit !important;
  text-decoration: none;
}

.post-nav a:hover {
  background-color: #efefe8;
  text-decoration: none;
}

.post-nav .previous {
  text-align: left;
}

.post-nav .next {
  text-align: right;
}