---
layout: page
title: About Me
---
{% assign github_url = "https://github.com/" | append: site.github_username %}
{% assign twitter_url = "https://twitter.com/" | append: site.twitter_username %}

<p>
  {% include link.html href="https://sites.google.com/view/muntashir" type="external" content="View academic profile" %}
</p>
<p>
  My name is Muntashir Al-Islam (also known as Muntashir Akon<span class="sidenote-number"></span>).
  I am a Ph.D. student of Computer Science. I am also an open source
  contributor and activist. My activism particularly focuses on
  {% include link.html href="https://reproducible-builds.org/" type="external" newtab=true content="reproducible builds" %}
  and privacy. You can also {% include link.html href="https://drive.google.com/file/d/104SHOVeQA--x15izlkU3LCOiUSoc9VQc/view" type="external" newtab=true content="view or download" %}
  my CV.
  <span class="sidenote"><em>Akon</em> is my surname.</span>
</p>
<p>
  I am also available for talks and consultations when I'm not busy, and you
  should get reply to your emails if they didn't end up in the spambox or you
  asked so many questions that they stay in my draft forever!
</p>

<p>
  E-Mail: <a href="mailto:{{ site.email }}" itemprop="email">{{ site.email }}</a><br>
  GitHub: {% include link.html href=github_url type="external" content=site.github_username %}<br>
  Stack Overflow: {% include link.html href="https://stackoverflow.com/users/4147849" type="external" content="Muntashir Akon" %}<br>
  Social: {% include link.html href=twitter_url type="external" newtab=true content="Twitter/X" %} 
     - <a rel="me" href="https://infosec.exchange/@muntashir" title="Mastodon" target="_blank" rel="noreferrer">Mastodon</a>
     - {% include link.html href="https://www.linkedin.com/in/muntashir-al-islam" type="external" newtab=true content="LinkedIn" %}
</p>

<p>That's about it.</p>