---
layout: page
title: Archives
---

{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y/%m" %}
  {% if currentdate != date %}
    {% unless forloop.first %}
      </ul>
    {% endunless %}
    <h3>{{ post.date | date: "%B %Y" }}</h3>
    <ul class="post-list">
    {% assign date = currentdate %}
  {% endif %}
  <li>
    <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    <span class="note">{{ post.date | date: "%b %-d, %Y" }}</span>
  </li>
  {% if forloop.last %}
    </ul>
  {% endif %}
{% endfor %}
