<hr class="bottom-rule">
<div class="post-nav">
  {%- if page.previous.url -%}
  <a class="previous" href="{{ page.previous.url }}" title="{{ page.previous.title }}">
    <span class="sans">◀︎ Previous Post</span>
    {{ page.previous.title }}
  </a>
  {%- else -%}
  <a class="previous" href="{{ 'archives' | absolute_url }}" title="Archives">
    <span class="sans">Archives</span>
    Archive of all previous blog posts
  </a>
  {%- endif -%}
  {%- if page.next.url -%}
  <a class="next" href="{{ page.next.url }}" title="{{ page.next.title }}">
    <span class="sans">Next Post ▶︎</span>
    {{ page.next.title }}
  </a>
  {%- else -%}
  <a class="next" href="{{ 'archives' | absolute_url }}" title="Archives">
    <span class="sans">Archives</span>
    Archive of all previous blog posts
  </a>
  {%- endif -%}
</div>