{% assign safeurl = site.url | append: page.url | url_encode %}
{% assign safetitle = page.title | url_encode %}
{% assign safetitlepre = "[Blog] " | append: page.author | append: " - " | url_encode %}

<span id="share-buttons">
  <span class="facebook" title="Share this on Facebook"    onclick="window.open('https://www.facebook.com/share.php?u={{ safeurl }}','popup','width=600,height=600'); return false;">
    {% include icons/facebook.svg %}
  </span>
  <span class="twitter"  title="Share this on Twitter"     onclick="window.open('https://twitter.com/intent/tweet?url={{ safeurl }}&text={{ safetitle }}&via={{ site.twitter_username }}','popup','width=600,height=600'); return false;">
    {% include icons/twitter.svg %}
 </span>
  <span class="linkedin" title="Share this on Linkedin"    onclick="window.open('https://www.linkedin.com/sharing/share-offsite/?url={{ safeurl }}','popup','width=600,height=600'); return false;">
    {% include icons/linkedin.svg %}
  </span>
  <span class="mail"     title="Share this through Email"  onclick="window.open('mailto:?&body={{ safeurl }}&subject={{ safetitlepre }}{{ safetitle }}','popup','width=600,height=600'); return false;">
    {% include icons/mail.svg %}
  </span>
</span>

<style>
  #share-buttons {display: inline-flex; align-items: center;}
  #share-buttons:after {content: ""; display: block; clear: both;}
  #share-buttons > span {position: relative; text-align: left; height: 14px; width: 24px; float: left; text-align: center;}
  #share-buttons > span > svg {height: 14px; fill: #bfbfb8;}
  #share-buttons > span:hover {cursor: pointer;}
  #share-buttons > span.facebook:hover > svg {fill: #3B5998;}
  #share-buttons > span.twitter:hover > svg {fill: #55ACEE;}
  #share-buttons > span.linkedin:hover > svg {fill: #0077b5;}
  #share-buttons > span.mail:hover > svg {fill: #7D7D7D;}
  #share-buttons > span.instagram:hover > svg {fill: #C73B92;}
</style>
