{% assign safeurl = site.url | append: page.url | url_encode %}
{% assign safetitle = page.title | url_encode %}
{% assign safetitlepre = "[Blog] " | append: page.author | append: " - " | url_encode %}

<label class="share-icon" for="share-button">{% include icons/share.svg %}</label>
<input class="share-button" type="checkbox" id="share-button" />
<span id="share-buttons">
  <span class="facebook" title="Share this on Facebook"    onclick="window.open('https://www.facebook.com/share.php?u={{ safeurl }}','popup','width=600,height=600'); return false;">
    {% include icons/facebook.svg %}
  </span>
  <span class="twitter"  title="Share this on Twitter"     onclick="window.open('https://twitter.com/intent/tweet?url={{ safeurl }}&text={{ safetitle }}&via={{ site.twitter_username }}','popup','width=600,height=600'); return false;">
    {% include icons/twitter.svg %}
 </span>
  <span class="linkedin" title="Share this on Linkedin"    onclick="window.open('https://www.linkedin.com/sharing/share-offsite/?url={{ safeurl }}','popup','width=600,height=600'); return false;">
    {% include icons/linkedin.svg %}
  </span>
  <span class="mail"     title="Share this through Email"  onclick="window.open('mailto:?&body={{ safeurl }}&subject={{ safetitlepre }}{{ safetitle }}','popup','width=600,height=600'); return false;">
    {% include icons/mail.svg %}
  </span>
</span>
